@using ISNAPOO.Core.Contracts.ExternalExpertCommission
@using ISNAPOO.Core.ViewModels.ExternalExpertCommission

@inherits BlazorBaseComponent
<SfDialog @bind-Visible="isVisible" Width="70%" EnableResize="true" AllowDragging="true" Height="87%" IsModal="true" ZIndex="2001" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Справка за заетост на външните експерти</Header>
        <Content>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">
                                Професионално направление:
                            </label>
                            <SfComboBox TValue="int" TItem="ProfessionalDirectionVM" AllowCustom="false" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                        @bind-Value="this.model.IdProfessionalDirection" DataSource="@professionalDirectionDataSource" AllowFiltering="true">
                                <ComboBoxFieldSettings Text="DisplayNameAndCode" Value="IdProfessionalDirection" />
                                <ComboBoxEvents TValue="int" TItem="ProfessionalDirectionVM" ValueChange="FilterExternalExpert"></ComboBoxEvents>
                            </SfComboBox>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label class="control-label">
                                Външен експерт:
                            </label>
                            <SfComboBox ShowClearButton="true" TValue="int" TItem="ExpertVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="externalExpertDatasource" AllowCustom="false" @bind-Value="this.model.IdExternalExpert">
                                <ComboBoxFieldSettings Text="Person.FullName" Value="IdExpert" />
                            </SfComboBox>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!-- text input -->
                        <div class="form-group">
                            <label class="control-label">
                                Период от:
                            </label>
                            <SfDatePicker TValue="DateTime?" ShowClearButton="true" Format="@GlobalConstants.DATE_FORMAT" @onfocusout="() => DateValid()" @bind-Value="this.model.DateFrom"></SfDatePicker>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!-- text input -->
                        <div class="form-group">
                            <label class="control-label">
                                Период до:
                            </label>
                            <SfDatePicker TValue="DateTime?" ShowClearButton="true" Format="@GlobalConstants.DATE_FORMAT" @onfocusout="() => DateValid()" @bind-Value="this.model.DateTo"></SfDatePicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align: right">
                    <button class="btn btn-primary btn-outline-primary waves-effect md-trigger" type="submit" @onclick="async () => await Submit()">Справка</button>
                    </div>
                    <label>&nbsp;</label>
                </div>
            </div>
             <div class="row">
                            <div class="col-sm-12">
                                <SfGrid ID="sfGrid" @ref="sfGrid" DataSource="ExpertGridSource" AllowPaging="true" AllowTextWrap="true" AllowExcelExport="true" AllowPdfExport="true" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport"})">
                                    <GridPageSettings PageCount="5" PageSize="10" PageSizes="true"></GridPageSettings>
                                    <GridEvents PdfQueryCellInfoEvent="PdfQueryCellInfoHandler" OnToolbarClick="ToolbarClick" TValue="ExpertVM"></GridEvents>
                                    <GridTemplates>
                                        <EmptyRecordTemplate Context="emptyRecord">
                                            <span>Няма намерени резултати.</span>
                                        </EmptyRecordTemplate>
                                    </GridTemplates>
                                    <GridColumns>
                                        <GridColumn HeaderText=" " AllowFiltering="false" AllowSorting="false" TextAlign="TextAlign.Left" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="10px">
                                            <Template>
                                                @GetRowNumber(sfGrid, (context as ExpertVM).IdExpert).Result
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Field="IdExpert" IsPrimaryKey="true" Visible="false"></GridColumn>
                                        <GridColumn Field="Person.Title" HeaderText="Титла" TextAlign="TextAlign.Left" Width="20px"></GridColumn>
                                        <GridColumn Field="Person.FirstName" HeaderText="Име" TextAlign="TextAlign.Left" Width="40px"></GridColumn>
                                        <GridColumn Field="Person.SecondName" HeaderText="Презиме" TextAlign="TextAlign.Left" Width="40px"></GridColumn>
                                        <GridColumn Field="Person.FamilyName" HeaderText="Фамилия" TextAlign="TextAlign.Left" Width="40px"></GridColumn>
                                        <GridColumn Field="ProfessionalDirectionsInfoTrim" HeaderText="Професионални направления" DisableHtmlEncode="false" TextAlign="TextAlign.Left" Width="80px"></GridColumn>
                                        <GridColumn Field="ProcedureCount"HeaderText="Брой процедури" TextAlign="TextAlign.Left" Width="30px">
                                            <Template>
                                                <div class="text-center">
                                                    @{
                                                        var ctx = context as ExpertVM;
                                                        <span>@ctx.ProcedureCount</span>
                                                     }
                                                </div>
                                            </Template>
                                        </GridColumn>
                                        <GridColumn HeaderText="Изготвени доклади" TextAlign="TextAlign.Left" Width="30px">
                                            <Template>
                                                <div class="text-center">
                                                    @{
                                                        var ctx = context as ExpertVM;
                                                        <span>@ctx.ProcedureDocuments.Count</span>
                                                     }
                                                </div>
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </div>
                        </div>
        </Content>
    </DialogTemplates>
</SfDialog>


<ToastMsg @ref="toast"></ToastMsg>
