@inherits BlazorBaseComponent

<SfDialog Target="#target" Width="900px" EnableResize=true AllowDragging="true" IsModal="true" ShowCloseIcon="true"
          CloseOnEscape="false" AllowPrerender="true" CssClass="@dialogClass" @bind-Visible="isVisible">
    <DialogAnimationSettings Effect="@AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler"></DialogEvents>
    <DialogTemplates>
        <Header>Данни за заповед на министъра на образованието и науката</Header>
        <Content>
            <EditForm EditContext="editContext" OnSubmit="Save" id="submitFormOrders">
                <ValidationSummary />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group required">
                                <label class="control-label">
                                    Номер на заповед:
                                </label>
                                <InputText class="form-control" @bind-Value="model.OrderNumber" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <!-- text input -->
                            <div class="form-group required">
                                <label class="control-label">
                                    Дата на заповед:
                                </label>
                                <div>
                                    <SfDatePicker CssClass="form-control" TValue="DateTime?" @bind-Value="model.OrderDate" Format="dd.MM.yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <label>
                        Прикачен файл:
                    </label>
                    <div class="row e-upload" style="margin-left:0px">
                        <div class="col-sm-8">
                            @if (model.HasUploadedFile)
                            {
                                <span class="align-text-bottom"><a @onclick="OnDownloadClick" href="#" class="link-primary">@model.FileName</a></span>
                            }
                            else
                            {
                                <label>
                                    Няма прикачен файл
                                </label>
                            }
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            @*bitbucket*@
                            <SfTooltip Position="TooltipPosition.BottomCenter" Content="Изтриване" OpensOn="Hover">
                            <button type="button" class="btn-row" disabled="@(!model.HasUploadedFile)" @onclick="OnRemoveClick"><i class="fa fa-trash-o"></i></button>
                        </SfTooltip>
                                </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <SfUploader AutoUpload="false" AllowMultiple="false" Enabled="@(model.IdOrder > 0)" AllowedExtensions="@(GlobalConstants.ALLOWED_EXTENSIONS_ALL)" MinFileSize="this.MinFileSize" MaxFileSize="this.MaxFileSize">
                                    <UploaderEvents ValueChange="OnChange" OnRemove="OnRemove"></UploaderEvents>
                                </SfUploader>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-newspaper-o" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на създаване: @CreationDateStr</div>

                        <div class="col text-left"><i class="fa fa-save" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на последна актуализация: @ModifyDateStr</div>
                    </div>
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-user" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Създадено от: @model.CreatePersonName</div>

                        <div class="col text-left"><i class="fa fa-user-plus" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Актуализирано от: @model.ModifyPersonName</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="text-right">
                            <button type="submit" class="btn btn-info" form="submitFormOrders">Запиши</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="@CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>

