@using Data.Models.Data.Role
@using ISNAPOO.Core.ViewModels.Identity;
@inherits BlazorBaseComponent
@inject IApplicationUserService ApplicationUserService
@inject IDataSourceService DataSourceService
@inject RoleManager<ApplicationRole> roleManager



<SfDialog @ref="sfDialog" @bind-Visible="isVisible" Width="60%" EnableResize="true" AllowDragging="true" Height="98%" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Данни за роля</Header>
        <Content>

            <EditForm EditContext="editContext" OnSubmit="SubmitRoleHandler" id="submitRoleForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group required">
                                <label class="control-label">
                                    Код:
                                </label>
                                <InputText class="form-control" @bind-Value="applicationRoleVM.Name" />
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group required">
                                <label class="control-label">
                                    Роля на потребител:
                                </label>
                                <InputText class="form-control" @bind-Value="applicationRoleVM.RoleName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" style="text-transform: none;" @onclick="OpenPolicy">Добави позволени действия</button>
                            </div>
                        </div>
                        <div class="col-sm-4"><button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" style="text-transform: none;" @onclick="RemovePolicy">Премахни позволени действия</button> </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <SfGrid DataSource="@roleClaims" AllowSorting="true" EnableAltRow="true" EnableHover="false" AllowSelection="true"
                                    AllowFiltering="true" @ref="refGrid" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })"
                                    AllowPaging="true" AllowTextWrap="true" AllowReordering="true" AllowResizing="true" AllowExcelExport="true" AllowPdfExport="true">
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridPageSettings PageCount="5" PageSize="20" PageSizes="false"></GridPageSettings>
                                <GridEvents TValue="RoleClaim" OnToolbarClick="ToolbarClick" />
                                <GridColumns>
                                    <GridColumn Type="Syncfusion.Blazor.Grids.ColumnType.CheckBox" Width="10" />
                                    <GridColumn Field="Type" HeaderText="Позволено действие" TextAlign="TextAlign.Left" Width="95"></GridColumn>
                                    <GridColumn Field="Value" HeaderText="Описание" TextAlign="TextAlign.Left" Width="95"></GridColumn>
                                </GridColumns>

                            </SfGrid>
                        </div>

                    </div>

                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-newspaper-o" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на създаване: @applicationRoleVM.CreationDate.ToString("dd.MM.yyyy")</div>

                        <div class="col text-left"><i class="fa fa-save" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на последна актуализация: @applicationRoleVM.ModifyDate.ToString("dd.MM.yyyy")</div>
                    </div>
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-user" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Създадено от: @applicationRoleVM.CreatePersonName</div>

                        <div class="col text-left"><i class="fa fa-user-plus" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Актуализирано от: @applicationRoleVM.ModifyPersonName</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="text-right">

                            <button class="btn btn-info" type="submit" form="submitRoleForm">Запиши</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>


        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>
<PolicySelectorModal @ref="policySelectorModal" CallbackAfterSelect="GetSelectedPolicyVM"></PolicySelectorModal>
<ToastMsg @ref="toast"></ToastMsg>