@inherits BlazorBaseComponent

<SfDialog @ref="sfDialog" @bind-Visible="isVisible" Width="50%" Height="auto" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="2002" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Данни за квалификация на <span style="color: #ffffff">@trainerFullname</span></Header>
        <Content>
            <EditForm EditContext="editContext">
                <ValidationSummary />
                @if (this.addedQualifications.Count > 1 && candidateProviderTrainerQualificationVM.IdCandidateProviderTrainerQualification != 0)
                {
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" style="margin-right: 15px;" @onclick="PreviousCurriculum" disabled="@(this.disablePreviousBtn)"><i class="fa fa-arrow-circle-left"></i>Предишна</button>
                            <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="NextCurriculum" disabled="@(this.disableNextBtn)"><i class="fa fa-arrow-circle-right"></i>Следваща</button>
                        </div>
                    </div>
                }
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group required">
                                <label class="control-label">
                                    Наименование на курса:
                                </label>
                                <InputText class="form-control" @bind-Value="candidateProviderTrainerQualificationVM.QualificationName" disabled="@(this.DisableFieldsWhenUserIsExternalExpertOrCommittee)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Вид на курса:
                                </label>
                                <SfComboBox Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerQualificationVM.IdQualificationType" DataSource="kvQualificationTypeSource" AllowFiltering="true" AllowCustom="false">
                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                </SfComboBox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="control-label">
                                    Професия, по която е проведено обучението:
                                </label>
                                <SfComboBox Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int?" TItem="ProfessionVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerQualificationVM.IdProfession" DataSource="professionSource" AllowFiltering="true" AllowCustom="false">
                                    <ComboBoxFieldSettings Text="ComboBoxName" Value="IdProfession" />
                                </SfComboBox>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label class="control-label">
                                    Вид на обучението:
                                </label>
                                <SfComboBox Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerQualificationVM.IdTrainingQualificationType" DataSource="kvTrainingQualificationTypeSource" AllowFiltering="true" AllowCustom="false">
                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                </SfComboBox>
                            </div>
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="control-label">
                                    Продължителност в часове:
                                </label>
                                <InputNumber class="form-control" @bind-Value="candidateProviderTrainerQualificationVM.QualificationDuration" disabled="@(this.DisableFieldsWhenUserIsExternalExpertOrCommittee)" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                                <label class="control-label">
                                    Дата на провеждане на обучението от:
                                </label>
                                <div>
                                    <SfDatePicker Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" CssClass="form-control" TValue="DateTime?" @onfocusout="() => DateValid()" @bind-Value="candidateProviderTrainerQualificationVM.TrainingFrom" Format="dd.MM.yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">
                                    Дата на провеждане на обучението до:
                                </label>
                                <div>
                                    <SfDatePicker Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" CssClass="form-control" TValue="DateTime?" @onfocusout="() => DateValid()" @bind-Value="candidateProviderTrainerQualificationVM.TrainingTo" Format="dd.MM.yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            @if (!this.DisableFieldsWhenUserIsExternalExpertOrCommittee)
                            {
                                <button style="margin-right: 5px;" class="btn btn-info" type="submit" @onclick="(async () => await this.SubmitAndContinueBtn())"><i class="fa fa-save"></i>Запиши и добави нов</button>
                                <button class="btn btn-info" type="submit" @onclick="(async () => await this.Submit())">Запиши</button>
                            }
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>
<ToastMsg @ref="toast"></ToastMsg>
