@inherits BlazorBaseComponent

<SfDialog @ref="sfDialog" @bind-Visible="isVisible" Width="60%" EnableResize="true" AllowDragging="true" Height="80%" IsModal="true" ZIndex="2500" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Проверка в RegiX: Агенция по вписванията - Търговски регистър</Header>
        <Content>
            <div class="form-group"><label><b>Справка за актуално състояние - към @DateTime.Now.ToString(GlobalConstants.DATE_FORMAT)</b></label></div>
            <div class="form-group"><label><u>ЕИК</u>: @this.actualStateRegix.UIC</label></div>
            <div class="form-group"><label><u>Фирма</u>: @this.actualStateRegix.Company</label></div>
            <div class="form-group"><label><u>Правна форма</u>: @this.actualStateRegix.LegalForm.LegalFormName</label></div>
            <div class="form-group"><label><u>Седалище и адрес на управление</u>: @GetAddressFromRegix()</label></div>
            <div class="form-group"><label><u>Представители</u>: @GetDetailsFromRegix()</label></div>
            <div class="form-group"><label><u>Начин на представляване:</u>: @this.actualStateRegix.WayOfRepresentation</label></div>

        </Content>
    </DialogTemplates>
</SfDialog>

