@inherits BlazorBaseComponent
@implements IConcurrencyCheck<SurveyVM>

<SfDialog @bind-Visible="isVisible" Width="98%" Height="98%" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="2002" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Данни за анкета <span style="color: #ffffff;">@this.surveyVM.Name</span></Header>
        <Content>
            <div id="validation-errors">
                @if (this.validationMessages.Any())
                {
                    <ul class="validation-errors">
                        @foreach (var msg in this.validationMessages)
                        {
                            <li class="validation-message">@msg</li>
                        }
                    </ul>
                }
            </div>
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-body">
                                <EditForm EditContext="this.editContext">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="form-group required">
                                                <label class="control-label">Наименование на анкетата: </label>
                                                <SfTextBox Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" @bind-Value="this.surveyVM.Name" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group required">
                                                <label class="control-label">Вътрешен код на анкетата: </label>
                                                <SfTextBox Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" @bind-Value="this.surveyVM.InternalCode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Описание:
                                                </label>
                                                <textarea style="width:-webkit-fill-available; border-block:"
                                                          ondrop="5"
                                                          rows="3"
                                                          @bind="this.surveyVM.AdditionalText"
                                                          @bind:event="oninput"
                                                          maxlength="4000"
                                                          class="form-control"
                                                          disabled="@(this.surveyVM.IdSurveyStatus != this.kvSurveyStatusCreated.IdKeyValue)">
                                            </textarea>
                                                <div style="float:right"><label>@(this.surveyVM.AdditionalText != null ? this.surveyVM.AdditionalText.Length : 0)/4000</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label class="control-label">Тип на анкетата: </label>
                                                <SfComboBox Enabled="false" TValue="int?" TItem="KeyValueVM" PopupHeight="200px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="this.kvSurveyTypeSource" AllowFiltering="true" @bind-Value="this.surveyVM.IdSurveyТype" AllowCustom="false">
                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                </SfComboBox>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group required">
                                                <label class="control-label">Вид на проучването: </label>
                                                <SfComboBox Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" TValue="int?" TItem="KeyValueVM" PopupHeight="200px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="this.kvFrameworkProgramSource" AllowFiltering="true" @bind-Value="this.surveyVM.IdTrainingCourseType" AllowCustom="false">
                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                </SfComboBox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group required">
                                                <label class="control-label">Период от: </label>
                                                <SfDatePicker Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" @bind-Value="this.surveyVM.TrainingPeriodFrom" Format="dd.MM.yyyy" TValue="DateTime?" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group required">
                                                <label class="control-label">Период до: </label>
                                                <SfDatePicker Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" @bind-Value="this.surveyVM.TrainingPeriodTo" Format="dd.MM.yyyy" TValue="DateTime?" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group required">
                                                <label class="control-label">Дата на активност от: </label>
                                                <SfDatePicker Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" @bind-Value="this.surveyVM.StartDate" Format="dd.MM.yyyy" TValue="DateTime?" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group required">
                                                <label class="control-label">Дата на активност до: </label>
                                                <SfDatePicker Enabled="(this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)" @bind-Value="this.surveyVM.EndDate" Format="dd.MM.yyyy" TValue="DateTime?" />
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>
                            </div>
                            @if (this.surveyVM.IdSurvey != 0)
                            {
                                <div class="card-header">
                                    <nav class="navbar navbar-expand  ">
                                        <!-- Left navbar links -->
                                        <ul class="navbar-nav">
                                        @if (this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)
                                            {
                                                <li class="nav-item d-none d-sm-inline-block">
                                                    <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddQuestionBtn">Добави въпрос</button>
                                                </li>
                                                <li class="nav-item d-none d-sm-inline-block">
                                                    &nbsp;
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                                <div class="card-body">
                                    @{
                                        if (this.surveyVM.Questions.Any())
                                        {
                                            var questionCounter = 1;
                                            foreach (var question in this.surveyVM.Questions)
                                            {
                                                var header = $"{questionCounter++}. {question.Text}";
                                                var type = this.kvQuestionTypeSource.FirstOrDefault(x => x.IdKeyValue == question.IdQuestType)!.Name;
                                                string icon = string.Empty;
                                                if (type.Contains("Единствен"))
                                                {
                                                    icon = "radio";
                                                }
                                                else if (type.Contains("Множествен"))
                                                {
                                                    icon = "checkbox";
                                                }

                                                <div class="row" style="margin-bottom: 20px;">
                                                    <div class="col-sm-12">
                                                        <SfCard CssClass="@(question.IsRequired ? "custom" : string.Empty)">
                                                            <CardHeader Title="@header" SubTitle="@type" />
                                                            <CardContent>
                                                                @if (question.Answers.Any())
                                                                {
                                                                    if (question.IdQuestType != this.kvOpenQuestion.IdKeyValue)
                                                                    {
                                                                        var counter = 0;
                                                                        foreach (var answer in question.Answers)
                                                                        {
                                                                            var symbol = this.GetSymbolByOrder(counter++);
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <p><input type="@icon" disabled /> @symbol. @answer.Text</p>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }

                                                                    if (question.IdQuestType == this.kvOpenQuestion.IdKeyValue || question.IdQuestType == this.kvSingleOpenQuestion.IdKeyValue || question.IdQuestType == this.kvMultipleOpenQuestion.IdKeyValue)
                                                                    {
                                                                        <EditForm EditContext="this.editContext">
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <div class="form-group">
                                                                                        <CustomInputTextArea class="form-control" @bind-Value="openQuestionText" disabled="@(true)" rows="3" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </EditForm>
                                                                    }
                                                                }
                                                            </CardContent>
                                                            <CardContent EnableSeparator="true"></CardContent>
                                                            <CardFooter>
                                                                <CardFooterContent>
                                                                @if (this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.isNAPOOEntry)
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <button type="button" style="max-width: 3%;" class="btn-row" @onclick="(async () => await this.EditQuestionBtn(question))"><i class="fa fa-pencil-square-o"></i></button>
                                                                                    <button type="button" style="max-width: 3%;" class="btn-row" @onclick="(async () => await this.DeleteQuestionBtn(question))"><i class="fa fa-trash-o"></i></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                </CardFooterContent>
                                                            </CardFooter>
                                                        </SfCard>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-7">
                    @if (this.surveyVM.IdSurvey != 0 && this.isNAPOOEntry)
                    {
                        <div class="row">
                            <div class="col text-left"><i class="fa fa-newspaper-o" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на създаване: @this.surveyVM.CreationDate.ToString("dd.MM.yyyy")</div>
                            <div class="col text-left"><i class="fa fa-save" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на последна актуализация: @this.surveyVM.ModifyDate.ToString("dd.MM.yyyy")</div>
                        </div>
                        <div class="row">
                            <div class="col text-left"><i class="fa fa-user" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Създадено от: @this.surveyVM.CreatePersonName</div>
                            <div class="col text-left"><i class="fa fa-user-plus" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Актуализирано от: @this.surveyVM.ModifyPersonName</div>
                        </div>
                    }
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="text-right">
                            @if (this.isNAPOOEntry)
                            {
                                @if (!this.hideBtnsConcurrentModal && this.surveyVM.IdSurvey != 0)
                                {
                                    <button style="margin-right: 30px;" class="btn btn-info" type="submit" @onclick="(async () => await this.CopySurveyBtn())">Копиране на анкета</button>
                                }
                                @if (!this.hideBtnsConcurrentModal && this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue && this.surveyVM.IdSurvey != 0)
                                {
                                    <button style="margin-right: 30px;" class="btn btn-info" type="submit" @onclick="(async () => await this.SendSurveyBtn())">Изпрати анкета</button>
                                }
                                @if (!this.hideBtnsConcurrentModal && this.surveyVM.IdSurveyStatus == this.kvSurveyStatusCreated.IdKeyValue)
                                {
                                    <button style="margin-right: 5px;" class="btn btn-info" type="submit" @onclick="(async () => await this.SubmitBtn(true))">Запиши</button>
                                }
                                else
                                {
                                    <button style="margin-right: 30px;" class="btn btn-info" type="submit" @onclick="(async () => await this.ResendSurveyBtn())">Препрати анкета</button>
                                }
                            }
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<style>
    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        font-size: 12px !important;
        font-style: italic;
    }

    .custom.e-card .e-card-header .e-card-header-caption .e-card-header-title:after {
        color: #d00;
        content: " *";
        position: inherit;
        margin-left: 0px;
        top: 15px;
    }
</style>

<ConfirmDialog @ref="ConfirmDialog" CallbackCancel="ConfirmDialogCallback" />
<QuestionModal @ref="questionModal" CallbackAfterSubmit="UpdateAfterQuestionModalSubmitAsync" />
<SurveyEmailTemplateModal @ref="surveyEmailTemplateModal" CallbackAfterSubmit="CloseAfterEmailTemplateModalSubmit" />
