@page "/AnnualInfoCpoCipoList"

@inherits BlazorBaseComponent
@*@using ISNAPOO.WebSystem.Pages.Mail*@
@using ISNAPOO.WebSystem.Pages.Archive.CIPO

@attribute [AuthorizeAttribute(Policy = "ManageAnnualInfoCpoCipo")]

@{
    base.CheckUserActionPermission("ManageAnnualInfoCpoCipo", true);
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h6 class="page-title-left">Годишна информация за дейността</h6>
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row align-items-start">
                        <div class="row">
                            <div class="col-sm-12">
                                <EditForm EditContext="this.editContext" OnSubmit="ReloadData">
                                    <nav class="navbar navbar-expand  ">
                                        <!-- Left navbar links -->
                                        <ul class="navbar-nav">
                                            <li class="nav-item d-none d-sm-inline-block">
                                                <div class="">
                                                    @if (this.LicensingType == "LicensingCPO")
                                                    {
                                                        <SfDropDownButton Content="Справка" style="color: #fff; background-color: #2DCEE3; border-color: #2DCEE3; border-radius: 2px; padding-top: 5px; padding-bottom: 6px;">
                                                            <DropDownMenuItems>
                                                                <DropDownMenuItem Text="Материално-техническа база" id="HandleMTBReport"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Актуализиране на учебните планове и програми" id="HandleCurriculumsReport"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Курсисти А: Курсисти по дата на раждане" id="HandleStudentReportA"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Курсисти Б: Курсисти по гражданство" id="HandleStudentReportB"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Повишаване на квалификацията на обучителите" id="HandleTrainerQualificationsReport"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Обучение A: курсове за придобиване на СПК" id="HandleAnnualTrainingCourseA"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Обучение B: курсове по част от професията" id="HandleAnnualTrainingCourseB"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Обучение C: придобили СПК чрез валидиране" id="HandleAnnualTrainingCourseC"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Обучение D: други курсове" id="HandleAnnualTrainingCourseD"></DropDownMenuItem>
                                                                <DropDownMenuItem Text="Обучение E: курсове за правоспособност" id="HandleAnnualTrainingCourseE"></DropDownMenuItem>
                                                            </DropDownMenuItems>
                                                            <DropDownButtonEvents ItemSelected="OnBtnSelectHandler" />
                                                        </SfDropDownButton>
                                                    }
                                                    else if (this.LicensingType == "LicensingCIPO")
                                                    {
                                                        <SfDropDownButton Content="Справка" style="color: #fff; background-color: #2DCEE3; border-color: #2DCEE3; border-radius: 2px; padding-top: 5px; padding-bottom: 6px;">
                                                            <DropDownMenuItems>
                                                                <DropDownMenuItem Text="Данни за клиентите на ЦИПО" id="HandleTotalConsultedClients"></DropDownMenuItem>                                                            
                                                                <DropDownMenuItem Text="Услуги предлагани от ЦИПО" id="HandleConsultings"></DropDownMenuItem>
                                                                 <DropDownMenuItem Text="Източници на финансиране" id="HandleFinancing"></DropDownMenuItem>
                                                            </DropDownMenuItems>
                                                            <DropDownButtonEvents ItemSelected="OnCIPOBtnSelectHandler" />
                                                        </SfDropDownButton>
                                                    }

                                                </div>
                                            </li>
                                            <li class="nav-item d-none d-sm-inline-block">
                                                &nbsp;
                                            </li>
                                            <li class="nav-item d-none d-sm-inline-block">
                                                <button class="btn btn-info" type="button" @onclick="TakeYearAndCreateAnnualInfo">Създай отчет</button>
                                            </li>                                          
                                            <li class="nav-item d-none d-sm-inline-block">
                                                &nbsp;
                                            </li>
                                            <li class="nav-item d-none d-sm-inline-block">
                                                <button class="btn btn-info" type="button" @onclick="OpenReportConfirmModal">Подай отчет</button>
                                            </li>
                                            <li class="nav-item d-none d-sm-inline-block">
                                                &nbsp;
                                            </li>
                                         @*   <li class="nav-item d-none d-sm-inline-block">
                                                <button style="display:none" type="button" class="btn btn-warning btn-outline-warning" @onclick="sendEmail">Изпрати e-mail</button>
                                            </li>
                                            <li class="nav-item d-none d-sm-inline-block">
                                                &nbsp;
                                            </li>*@
                                        </ul>
                                    </nav>

                                </EditForm>
                            </div>
                        </div>
                    </div>
                    @if (this.LicensingType == "LicensingCPO")
                    {
                        <SfGrid ID="sfAnnualInfoGrid" DataSource="archAnnualInfoSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                            AllowTextWrap="true" @ref="sfAnnualInfoGrid" AllowSelection="true" AllowPaging="true" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })"
                            AllowExcelExport="true" AllowPdfExport="true">
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                            <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                            <GridEvents TValue="AnnualInfoVM" PdfQueryCellInfoEvent="PdfQueryCellInfoHandler" OnToolbarClick="ToolbarClick"
                                    RowSelecting="RowSelectingHandler" RowSelected="RowSelectedHandler" RowDeselected="RowDeselectedHandler" />
                            <GridColumns>
                                <GridColumn Type="ColumnType.CheckBox" Width="5">
                                    <HeaderTemplate>
                                    </HeaderTemplate>
                                </GridColumn>
                                <GridColumn HeaderText=" " AllowFiltering="false" AllowSorting="false" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" TextAlign="TextAlign.Left" Width="5">
                                    <Template>
                                        @GetRowNumber(sfAnnualInfoGrid, (context as AnnualInfoVM).IdAnnualInfo).Result
                                    </Template>
                                </GridColumn>
                                <GridColumn Width="5%">
                                    <Template>
                                        <SfTooltip Position="TooltipPosition.BottomCenter" Content="Данни за отчета" OpensOn="Hover" Width="100px">
                                            <button @onclick="(() => SelectedAnnualInfo(context as AnnualInfoVM))" class="btn-row"><i class="fa fa-file-text-o"></i></button>
                                        </SfTooltip>
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="IdAnnualInfo" IsPrimaryKey="true" Visible="false"></GridColumn>
                                <GridColumn Field="CandidateProvider.LicenceNumber" HeaderText="Лицензия" TextAlign="TextAlign.Left" Width="30"></GridColumn>
                                <GridColumn Field="CandidateProvider.CPONameOwnerGrid" HeaderText="ЦПО" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                                <GridColumn Field="Name" HeaderText="Подал отчета" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                <GridColumn Field="Title" HeaderText="Длъжност" TextAlign="TextAlign.Left" Width="30"></GridColumn>
                                <GridColumn Field="Year" HeaderText="Отчет за година" TextAlign="TextAlign.Left" Width="25"></GridColumn>
                                <GridColumn Field="StatusName" HeaderText="Статус на отчета" TextAlign="TextAlign.Left" Width="25">
                                    <Template>
                                        <div class="text-center">
                                            @{
                                                var annualInfoVM = context as AnnualInfoVM;

                                                switch (annualInfoVM.StatusIntCode)
                                                {
                                                    case "Working":
                                                        <label class="form-label label label-warning">@annualInfoVM.StatusName</label>
                                                        break;
                                                    case "Submitted":
                                                        <label class="form-label label label-info">@annualInfoVM.StatusName</label>
                                                        break;
                                                    case "Returned":
                                                        <label class="form-label label label-danger">@annualInfoVM.StatusName</label>
                                                        break;
                                                    case "Approved":
                                                        <label class="form-label label label-success">@annualInfoVM.StatusName</label>
                                                        break;
                                                }
                                            }
                                        </div>
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="ModifyDate" HeaderText="Дата на промяна на статуса" TextAlign="TextAlign.Left" Width="40">
                                    <Template>
                                        @{
                                            var ctx = context as AnnualInfoVM;
                                            var date = ctx.ModifyDate.ToString("dd.MM.yyyy") + "г.";
                                            @date
                                        }
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="CommentAnnualInfoStatus" HeaderText="Коментар" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                            </GridColumns>
                        </SfGrid>

                    }
                    else if (this.LicensingType == "LicensingCIPO")
                    {
                        <SfGrid ID="sfAnnualInfoGrid" DataSource="archAnnualInfoSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                            AllowTextWrap="true" @ref="sfAnnualInfoGrid" AllowSelection="true" AllowPaging="true" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport" })"
                            AllowExcelExport="true" AllowPdfExport="true">
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                            <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                            <GridEvents TValue="AnnualInfoVM" PdfQueryCellInfoEvent="PdfQueryCellInfoHandler" OnToolbarClick="ToolbarClick"
                                    RowSelecting="RowSelectingHandler" RowSelected="RowSelectedHandler" RowDeselected="RowDeselectedHandler" />
                            <GridColumns>
                                <GridColumn Type="ColumnType.CheckBox" Width="5">
                                    <HeaderTemplate>
                                    </HeaderTemplate>
                                </GridColumn>
                                <GridColumn HeaderText=" " AllowFiltering="false" AllowSorting="false" TextAlign="TextAlign.Left" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="5">
                                    <Template>
                                        @GetRowNumber(sfAnnualInfoGrid, (context as AnnualInfoVM).IdAnnualInfo).Result
                                    </Template>
                                </GridColumn>
                                <GridColumn Width="5%">
                                    <Template>
                                        <SfTooltip Position="TooltipPosition.BottomCenter" Content="Данни за отчета" OpensOn="Hover" Width="100px">
                                            <button @onclick="(() => SelectedAnnualInfo(context as AnnualInfoVM))" class="btn-row"><i class="fa fa-file-text-o"></i></button>
                                        </SfTooltip>
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="IdAnnualInfo" IsPrimaryKey="true" Visible="false"></GridColumn>
                                <GridColumn Field="CandidateProvider.LicenceNumber" HeaderText="Лицензия" TextAlign="TextAlign.Left" Width="30"></GridColumn>
                                <GridColumn Field="CandidateProvider.CIPONameOwnerGrid" HeaderText="ЦИПО" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                                <GridColumn Field="Name" HeaderText="Подал отчета" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                <GridColumn Field="Title" HeaderText="Длъжност" TextAlign="TextAlign.Left" Width="30"></GridColumn>
                                <GridColumn Field="Year" HeaderText="Отчет за година" TextAlign="TextAlign.Left" Width="25">
                                </GridColumn>
                                 <GridColumn Field="StatusName" HeaderText="Статус на отчета" TextAlign="TextAlign.Left" Width="25">
                                    <Template>
                                        <div class="text-center">
                                            @{
                                                var annualInfoVM = context as AnnualInfoVM;

                                                switch (annualInfoVM.StatusIntCode)
                                                {
                                                    case "Working":
                                                        <label class="form-label label label-warning">@annualInfoVM.StatusName</label>
                                                        break;
                                                    case "Submitted":
                                                        <label class="form-label label label-info">@annualInfoVM.StatusName</label>
                                                        break;
                                                    case "Returned":
                                                        <label class="form-label label label-danger">@annualInfoVM.StatusName</label>
                                                        break;
                                                    case "Approved":
                                                        <label class="form-label label label-success">@annualInfoVM.StatusName</label>
                                                        break;
                                                }
                                            }
                                        </div>
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="ModifyDate" HeaderText="Дата на промяна на статуса" TextAlign="TextAlign.Left" Width="40">
                                    <Template>
                                        @{
                                            var ctx = context as AnnualInfoVM;
                                            var date = ctx.ModifyDate.ToString("dd.MM.yyyy") + "г.";
                                            @date
                                        }
                                    </Template>
                                </GridColumn>                               
                                <GridColumn Field="CommentAnnualInfoStatus" HeaderText="Коментар" TextAlign="TextAlign.Left" Width="50"></GridColumn>                                
                            </GridColumns>
                        </SfGrid>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<AnnualInfoCpoCipoStatusList @ref="annualInfoCpoCipoStatusList"></AnnualInfoCpoCipoStatusList>
<AnnualMTBModal @ref="mtbModal" />
<AnnualCurriculumModal @ref="curriculumModal" />
<AnnualStudentsModal @ref="studentModal" />
<AnnualTrainingCourseModal @ref="reporTrainingCourse"></AnnualTrainingCourseModal>
<AnnualTrainerQualificationsModal @ref="trainerQualificationsModal" />
@*<SendMailModal CallbackAfterSubmit="sendEmails" @ref="sendMailModal"></SendMailModal>*@
<AnnualStudentByNationalityModal @ref="annualStudentByNationalityModal"></AnnualStudentByNationalityModal>
<AnnualTrainingValidationClientModal @ref="reportTrainingValidationCourse"></AnnualTrainingValidationClientModal>
<HandleTotalConsultedClients @ref="handleTotalConsultedClients"></HandleTotalConsultedClients>
<ISNAPOO.WebSystem.Pages.Archive.CIPO.AnnualConsulting @ref="annualConsultingModal" />
<AnnualFinancing @ref="annualFinancing"> </AnnualFinancing>
<ToastMsg @ref="toast"></ToastMsg>
