@page "/OrdersList"
@using Syncfusion.Blazor.SplitButtons
@attribute [Authorize(Policy = "ShowOrderList")]
@inherits BlazorBaseComponent

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h6 class="page-title-left">Заповеди на министъра на образованието и науката</h6>
            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-expand  ">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav">

                            <li class="nav-item d-none d-sm-inline-block">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="OpenAddNewModal">Нов</button>
                            </li>

                            @*<li class="nav-item d-none d-sm-inline-block">
                                <button type="button" class="btn btn-warning btn-sm" @onclick="ShowFilter">Филтър</button>
                                </li>*@
                        </ul>
                    </nav>
                </div>



                <div class="card-body">
                    <SfGrid ID="ordersGrid" DataSource="@orders" AllowSorting="true" EnableAltRow="true" EnableHover=false AllowSelection=true AllowFiltering="true"
                            @ref="ordersGrid" AllowPaging=true AllowReordering=true 
                            AllowExcelExport="true" AllowPdfExport="true" Toolbar="@(new List<string>() { "ExcelExport", "PdfExport"})">
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                        <GridEvents TValue="OrderVM" PdfQueryCellInfoEvent="PdfQueryCellInfoHandler" OnToolbarClick="ToolbarClick" RowSelected="RowSelected" RowDeselected="RowDeselected"></GridEvents>
                        <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="OrderDate" Direction="SortDirection.Descending" />
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>

                            <GridColumn HeaderText=" " AllowFiltering="false" AllowSorting="false" TextAlign="TextAlign.Left" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="5px">
                                <Template>
                                    @GetRowNumber(ordersGrid, (context as OrderVM).IdOrder).Result
                                </Template>
                            </GridColumn>
                            <GridColumn Width="4">
                                <Template>
                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Редакция" OpensOn="Hover">
                                        <button @onclick="(() => SelectedRow(context as OrderVM))" class="btn-row"><i class="fa fa-pencil-square-o"></i></button>
                                    </SfTooltip>
                                </Template>
                            </GridColumn>
                            <GridColumn Width="4">
                                <Template>
                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                        <button @onclick="(() => DeleteSelected(context as OrderVM))" class="btn-row"><i class="fa fa-trash-o"></i></button>
                                    </SfTooltip>
                                </Template>
                            </GridColumn>
                            <GridColumn Field="IdOrder" IsPrimaryKey="true" HeaderText="ID" TextAlign="TextAlign.Center" Width="40" Visible=false></GridColumn>
                            <GridColumn Field="OrderNumber" HeaderText="Номер на заповед" TextAlign="TextAlign.Left" Width="60"></GridColumn>
                            <GridColumn Field="OrderDate" HeaderText="Дата на заповед" TextAlign="TextAlign.Left" Width="60" Type="ColumnType.Date" Format="dd.MM.yyyy">
                                <Template>
                                    @{
                                        var ctx = context as OrderVM;
                                        var date = ctx.OrderDate.HasValue ? $"{ctx.OrderDate.Value.ToString("dd.MM.yyyy")} г." : string.Empty;
                                        @date
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Width="4">
                                <Template>
                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори файл със заповедта" OpensOn="Hover">
                                        <button type="button" class="btn-row" @onclick="(() => OnDownloadClick(context as OrderVM))"><i class="fa fa-file-o"></i></button>
                                    </SfTooltip>
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    </div>
</div>

<SfDialog @ref="@sfFilter" Target="#target" Width="500px" EnableResize="true" AllowDragging="true" IsModal="true"
          ShowCloseIcon="true" AllowPrerender="true" @bind-Visible="@IsVisibleAddModal" CssClass="@dialogClass">
    <DialogTemplates>
        <Header>
            Филтър
        </Header>
        <Content>
            <EditForm Model="model" OnValidSubmit="Search" id="filterForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>
                                    Номер на заповед:
                                </label>
                                <InputText class="form-control" @bind-Value="model.OrderNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="height: 1rem;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- date input -->
                            <div class="form-group">
                                <label>
                                    Дата на заповед От:
                                </label>
                                <div style="white-space: nowrap;">
                                    <SfDatePicker CssClass="form-control" TValue="DateTime?" @bind-Value="model.OrderDateFrom" Format="dd.MM.yyyy" />
                                    <SfCheckBox TChecked="Boolean" @bind-Checked="model.IsExactOrderDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- date input -->
                            <div class="form-group">
                                <label>
                                    Дата на заповед До:
                                </label>
                                <SfDatePicker CssClass="form-control" TValue="DateTime?" @bind-Value="model.OrderDateTo" Format="dd.MM.yyyy" />
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-right">
                            <button class="btn btn-info" type="submit" form="filterForm">Търси</button>
                            <button type="button" class="btn btn-warning btn-outline-warning waves-effect md-trigger" @onclick="ClearFilter">Изчисти</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="Cancel">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ISNAPOO.WebSystem.Pages.SPPOO.Modals.Order.OrderModal @ref="orderModal" CallbackAfterSave="UpdateAfterSave"></ISNAPOO.WebSystem.Pages.SPPOO.Modals.Order.OrderModal>
<ConfirmDialog CallbackCancel="ConfirmDialogCallback" CallbackDelete="ConfirmDeleteCallback" @ref="ConfirmDialog"></ConfirmDialog>
<ToastMsg @ref="toast"></ToastMsg>
