@inherits BlazorBaseComponent

<SfDialog Width="50%" Height="auto" EnableResize=true AllowDragging="true" IsModal="true"
          ShowCloseIcon="true" CloseOnEscape="false" @bind-Visible="@isVisible" ZIndex="8002">
    <DialogAnimationSettings Effect="@AnimationEffect" Duration=500 />
    <DialogTemplates>
        <Header>
            Импорт на дневник 
        </Header>
        <Content>
            <label>
                Прикачен файл:
            </label>
            <div class="row e-upload" style="margin-left:0px">
                <div class="col-sm-8">
                    @if (this.courseScheduleVM.HasUploadedFile)
                    {
                        <span class="align-text-bottom"><a href="#" class="link-primary">@this.courseScheduleVM.FileName</a></span>
                    }
                    else
                    {
                        <label>
                            Няма прикачен файл
                        </label>
                    }
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <SfUploader @ref="@sfUpload" AutoUpload="false" AllowMultiple="false" Enabled="true" AllowedExtensions="@(GlobalConstants.ALLOWED_EXTENSIONS_EXCEL)" MinFileSize="this.MinFileSize" MaxFileSize="this.MaxFileSize">
                            <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                        </SfUploader>
                    </div>
                </div>
            </div>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col">
                    <!-- text input -->
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="@ImportCourseScheduleBtn">Импорт</button>
                        <button type="button" class="btn btn-outline-secondary" @onclick="@Cancel">Отказ</button>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
