@page "/DocumentsFromCPOList"
@inherits BlazorBaseComponent
@using ISNAPOO.Core.ViewModels.Training;

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <h6 class="page-title-left">Регистър на издадените документи от ЦПО (РИДПК)</h6>
            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-expand  ">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav">
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Content="Филтриране на резултати в регистъра" Position="TooltipPosition.BottomCenter" OpensOn="Hover" CssClass="toolTip-zindex">
                                    <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="FilterGrid">Филтър</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Content="Промяна на статуса на документа" Position="TooltipPosition.BottomCenter" OpensOn="Hover" CssClass="toolTip-zindex">
                                    <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="ChangeStatusBtn">Промени статус</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="card-body">
                    <SfGrid DataSource="this.documentsSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                            AllowTextWrap="true" @ref="this.documentsGrid" AllowSelection="true" AllowPaging="true" Toolbar="@(new List<string>() { "ExcelExport","CsvExport" , "PdfExport" })" AllowExcelExport="true" AllowPdfExport="true">
                        <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel">
                            <GridFilterColumns>
                                <GridFilterColumn Field="Status" MatchCase="true" Operator="Operator.Equal" Value="initialFilterValue"></GridFilterColumn>
                            </GridFilterColumns>
                        </GridFilterSettings>
                        <GridEvents OnToolbarClick="ToolbarClick" TValue="DocumentsFromCPORegisterVM" />
                        <GridSelectionSettings CheckboxOnly="true" />
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" Width="5%"></GridColumn>
                            <GridColumn Field="IdEntity" IsPrimaryKey="true" Visible="false"></GridColumn>
                            <GridColumn AllowFiltering="false" HeaderText=" " AllowSorting="false" TextAlign="TextAlign.Left" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="6%">
                                <Template>
                                    @GetRowNumber(this.documentsGrid, (context as DocumentsFromCPORegisterVM).IdEntity).Result
                                </Template>
                            </GridColumn>
                            <GridColumn Width="7%">
                                <Template>
                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Преглед" OpensOn="Hover">
                                        <button @onclick="(async () => await this.OpenViewClientBtn(context as DocumentsFromCPORegisterVM))" class="btn-row"><i class="fa fa-search-plus"></i></button>
                                    </SfTooltip>
                                </Template>
                            </GridColumn>
                            <GridColumn Field="LicenceNumber" HeaderText="Лицензия" Width="20%"></GridColumn>
                            <GridColumn Field="CPONameOwnerGrid" HeaderText="ЦПО" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field="FullName" HeaderText="Име" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field="Profession" HeaderText="Професия" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field="Speciality" HeaderText="Специалност" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field="CourseName" HeaderText="Курс" TextAlign="TextAlign.Left" Width="20%"></GridColumn>
                            <GridColumn Field="Period" HeaderText="Период на провеждане" Width="20%"></GridColumn>
                            <GridColumn Field="Location" HeaderText="Населено място" Width="20%"></GridColumn>
                            <GridColumn Field="TrainingTypeName" HeaderText="Вид на обучение" Width="25%"></GridColumn>
                            <GridColumn Field="Status" HeaderText="Статус" TextAlign="TextAlign.Center" Width="25%">
                                <Template>
                                    <div class="text-center">
                                        @{
                                            var doc = context as DocumentsFromCPORegisterVM;
                                            switch (doc.Status)
                                            {
                                                case "Неподаден":
                                                    <label class="form-label-status label label-warning">@doc.Status</label>
                                                    break;
                                                case "Подаден":
                                                    <label class="form-label-status label label-primary">@doc.Status</label>
                                                    break;
                                                case "Върнат":
                                                    <label class="form-label-status label label-danger">@doc.Status</label>
                                                    break;
                                                case "Вписан в Регистъра":
                                                    <label class="form-label-status label label-success">@doc.Status</label>
                                                    break;
                                                case "Отказан":
                                                    <label class="form-label-status label label-danger">@doc.Status</label>
                                                    break;
                                                case "Скрит от РИДПК":
                                                    <label class="form-label-status label label-danger">@doc.Status</label>
                                                    break;
                                            }
                                        }
                                    </div>
                                </Template>
                            </GridColumn>
                            <GridColumn TextAlign="TextAlign.Center" Width="7%">
                                <Template>
                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори файл с документа" OpensOn="Hover">
                                        <button type="button" class="btn-row" @onclick="(() => OpenFileWithDocumentBtn(context as DocumentsFromCPORegisterVM))"><i class="fa fa-file-o"></i></button>
                                    </SfTooltip>
                                </Template>
                            </GridColumn>
                            <GridColumn TextAlign="TextAlign.Center" Width="7%">
                                <Template>
                                    @{
                                        <SfTooltip Position="TooltipPosition.BottomCenter" Content="История на статуса" OpensOn="Hover">
                                            <button type="button" class="btn-row" @onclick="(() => OpenStatusHistoryBtn(context as DocumentsFromCPORegisterVM))"><i class="fa fa-history" style="font-size: 18px"></i></button>
                                        </SfTooltip>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    </div>
</div>

<DocumentsFromCPOModal @ref="this.documentsFromCPOModal"></DocumentsFromCPOModal>
<DocumentsFromCPOFilter @ref="filterModal" CallbackAfterSubmitOnDocumentsFromCPOList="UpdateAfterFilterAsync"></DocumentsFromCPOFilter>
<ChangeRIDPKDocumentStatusModal @ref="changeRIDPKDocumentStatusModal" CallbackAfterSubmit="OnChangeStatusModalSubmitAsync" />
<DocumentStatusModal @ref="documentStatusModal" />
