@using ISNAPOO.Core.ViewModels.Control
@using ISNAPOO.Core.ViewModels.ExternalExpertCommission

@inherits BlazorBaseComponent

<SfDialog Target="#target" @ref="sfDialog" Width="75%" Height="85%" EnableResize="true" AllowDragging="true" IsModal="true" ShowCloseIcon="true"
          CloseOnEscape="false" AllowPrerender="false" CssClass="@dialogClass" @bind-Visible="this.isVisible" ZIndex="1900">
    <DialogAnimationSettings Effect="@AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler"></DialogEvents>
    <DialogTemplates>
        <Header>
                
                    <span>Данни за Последващ контрол - <span style="font-size: 18px;color: white !important;">@this.Header</span></span> 
                
            
        </Header>
        <Content>
            <div>
                <ul class="validation-errors">
                    @foreach (var msg in this.validationMessages)
                    {
                        <li class="validation-message">@msg</li>
                    }
                </ul>
            </div>
            <SfTab EnablePersistence="false" LoadOn="ContentLoad.Init" @bind-SelectedItem="selectedTab">
                <TabEvents Selected="SelectedEventHandler" Selecting="Select"></TabEvents>
                <TabItems>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="Данни за последващ контрол"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                           <FollowUpControlInformation @ref="this.followUpControlInformation" IsEditable="this.IsEditable" IsCPO="IsCPO" CallBackAfterCreation="UpdateAfterSave" CallBackChangeHeader="ChangeHeader" Model="this.model"></FollowUpControlInformation>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="@(this.model.IdFollowUpControl != 0 ? true : false)">
                        <ChildContent>
                            <TabHeader Text="Обект на проверката"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <CheckingObject IsCPO="IsCPO" @ref="this.checkingObject" IsEditable="this.IsEditable" Model="this.model"></CheckingObject>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="@(this.model.IdFollowUpControl != 0 ? true : false)">
                        <ChildContent>
                            <TabHeader Text="Документи"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <FollowUpControlDocumentsList @ref="this.followUpControlDocumentsList" IsCPO="IsCPO" IsEditable="this.IsEditable" Model="this.model"></FollowUpControlDocumentsList>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Visible="@(this.model.IdFollowUpControl != 0 ? true : false)">
                        <ChildContent>
                            <TabHeader Text="Допълнителна информация"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <FollowUpControlUploadedFilesList @ref="this.followUpControlUploadedFilesList" IsEditable="this.IsEditable" Model="this.model"></FollowUpControlUploadedFilesList>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-newspaper-o" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на създаване: @this.CreationDateStr</div>

                        <div class="col text-left"><i class="fa fa-save" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на последна актуализация: @this.ModifyDateStr</div>
                    </div>
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-user" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Създадено от: @this.model.CreatePersonName </div>

                        <div class="col text-left"><i class="fa fa-user-plus" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Актуализирано от: @this.model.ModifyPersonName</div>
                    </div>
                </div>
                @if (IsEditable)
                {
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="text-right">
                                <button class="btn btn-info" type="submit" @onclick="(() => { this.Submit(); })">Запиши</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="@CancelClickedHandler">Отказ</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<style>
    .btn-outline-warning.disabled, .btn-outline-warning:disabled {
        color: #fd7e14;
    }

    .btn-warning.disabled, .btn-warning:disabled {
        border-color: #fd7e14;
    }
</style>
<ToastMsg @ref="toast"></ToastMsg>
<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>


