@inherits BlazorBaseComponent
<SfDialog @bind-Visible="this.isVisible" Width="70%" EnableResize="true" AllowDragging="true" Height="auto" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogEvents OnClose="OnXClickHandler"></DialogEvents>
    <DialogAnimationSettings Effect="@AnimationEffect" Duration="500" />
    <DialogTemplates>
        <Header>Данни за специалност <span style="font-size: 18px;color: white !important;">@this.specialityVM.CodeAndName</span></Header>
        <Content>
            <EditForm id="submitFormSpeciality" EditContext="editContext" OnSubmit="SubmitHandler">
                <ValidationSummary />

                <div class="card">
                    <div class="card-block" style="">
                        <p>
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group required">
                                        <label class="control-label">Област на образование: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.CodeAndArea" disabled="@(isDisabled)"></InputText>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Статус на валидност: </label>
                                        <InputText class="form-control" @bind-Value="this.status.Name" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group required">
                                        <label class="control-label">Професионално направление: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.CodeAndProfessionalDirection" disabled="@(isDisabled)"></InputText>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group required">
                                        <label class="control-label">Професия: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.CodeAndProfession" disabled="@(isDisabled)"></InputText>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group required">
                                        <label class="control-label">Код: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.Code"></InputText>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group required">
                                        <label class="control-label">Наименование на специалността: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.Name"></InputText>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group required">
                                        <label class="control-label">Наименование на специалността (англ.): </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.NameEN"></InputText>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @if (specialityVM.IdDOC != null)
                                {
                                    <div class="col-sm-11">
                                        <div class="form-group">
                                            <label>ДОС: </label>
                                            <SfComboBox TValue="int?" TItem="DocVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="docs" AllowFiltering="true" @bind-Value="specialityVM.IdDOC" AllowCustom="false">
                                                <ComboBoxEvents TValue="int?" TItem="DocVM" ValueChange="OnDOCValueChange"></ComboBoxEvents>
                                                <ComboBoxFieldSettings Text="Name" Value="IdDOC" />
                                            </SfComboBox>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>ДОС: </label>
                                            <SfComboBox TValue="int?" TItem="DocVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="docs" AllowFiltering="true" @bind-Value="specialityVM.IdDOC" AllowCustom="false">
                                                <ComboBoxEvents TValue="int?" TItem="DocVM" ValueChange="OnDOCValueChange"></ComboBoxEvents>
                                                <ComboBoxFieldSettings Text="Name" Value="IdDOC" />
                                            </SfComboBox>
                                        </div>
                                    </div>
                                }
                                @{
                                    if (specialityVM.IdDOC != null)
                                    {
                                        <div class="col-sm-1">
                                            <div class="form-group text-center" style="display: flex; margin-top: 25px;">
                                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори файл с ДОС" OpensOn="Hover">
                                                    <button type="button" class="btn-row" @onclick="(() => DownloadDOCHandler(specialityVM.IdDOC))"><i class="fa fa-file-o"></i></button>
                                                </SfTooltip>

                                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори данни за ДОС" OpensOn="Hover">
                                                    <button type="button" class="btn-row" @onclick="(() => OpenDOCModalHandler(specialityVM.IdDOC))">
                                                        <i class="fa fa-wpforms"></i>
                                                    </button>
                                                </SfTooltip>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            @if (specialityVM.IdDOC != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Описание на професията: </label>
                                            <InputTextArea rows="6" class="form-control" @bind-Value="this.docVM.DescriptionProfession" disabled="@(isDisabled)" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group required">
                                        <label class="control-label">СПК: </label>
                                        <SfComboBox ShowClearButton="false" TValue="int" TItem="KeyValueVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="@spkValue" AllowFiltering="true" @bind-Value="specialityVM.IdVQS" AllowCustom="false">
                                            <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                        </SfComboBox>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group required">
                                        <label class="control-label">Ниво по НКР: </label>
                                        <SfComboBox TValue="int" TItem="KeyValueVM" PopupHeight="230px" @onfocusout="() => {IsNKR = true; ChangeBoth();}" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="@nkrValue" AllowFiltering="true" @bind-Value="specialityVM.IdNKRLevel" AllowCustom="false">
                                            <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                        </SfComboBox>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group required">
                                        <label class="control-label">Ниво по ЕКР: </label>
                                        <SfComboBox TValue="int" TItem="KeyValueVM" PopupHeight="230px" @onfocusout="() => ChangeBoth()" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="@ekrValue" AllowFiltering="true" @bind-Value="specialityVM.IdEKRLevel" AllowCustom="false">
                                            <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                        </SfComboBox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label>Линк към Националните изпитни програми: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.LinkNIP"></InputText>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group text-center" style="display: flex; margin-top: 25px;">
                                        <label> </label>
                                        <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори в браузър" OpensOn="Hover">
                                            <button type="button" class="btn-row" @onclick="OpenLinkNIP"><i class="fa fa-external-link"></i></button>
                                        </SfTooltip>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label>Линк към Учебни планове и учебни програми на МОН: </label>
                                        <InputText class="form-control" @bind-Value="specialityVM.LinkMON"></InputText>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group text-center" style="display: flex; margin-top: 25px;">
                                        <label> </label>
                                        <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори в браузър" OpensOn="Hover">
                                            <button type="button" class="btn-row" @onclick="OpenLinkMON"><i class="fa fa-external-link"></i></button>
                                        </SfTooltip>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Заповед на министъра на образованието: </label>
                                        <SfComboBox TValue="int" TItem="OrderVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="orders" AllowFiltering="true" @bind-Value="idOrder" AllowCustom="false">
                                            <ComboBoxFieldSettings Text="OrderNumberWithOrderDate" Value="IdOrder" />
                                        </SfComboBox>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Вид на промяната: </label>
                                        <SfComboBox Enabled="this.specialityVM.IdSpeciality != 0" AllowCustom="false" TValue="int" TItem="KeyValueVM" PopupHeight="230px" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" DataSource="orderChangeValues" AllowFiltering="true" @bind-Value="specialityVM.IdTypeChange">
                                            <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                        </SfComboBox>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <p>
                                            <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="OnAddOrderClickHandler">Добави</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <SfGrid ID="defaultGrid" @ref="ordersGrid" DataSource="addedOrders" AllowTextWrap="true" AllowPaging="false" AllowSorting="false" AllowFiltering="false">
                                        <GridTemplates>
                                            <EmptyRecordTemplate Context="emptyRecord">
                                                <span>Няма намерени резултати.</span>
                                            </EmptyRecordTemplate>
                                        </GridTemplates>
                                        <GridColumns>
                                            <GridColumn Width="10">
                                                <Template Context="orderContext">
                                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                                        <button type="button" class="btn-row" @onclick="(() => DeleteRowOrder(orderContext as OrderVM))"><i class="fa fa-trash-o"></i></button>
                                                    </SfTooltip>
                                                </Template>
                                            </GridColumn>
                                            <GridColumn Field="OrderNumber" HeaderText="Номер на заповед" TextAlign="TextAlign.Left" Width="60"></GridColumn>
                                            <GridColumn Field="OrderDate" HeaderText="Дата на заповед" TextAlign="TextAlign.Left" Width="60" Format="dd.MM.yyyy">
                                                <Template Context="orderContext">
                                                    @{
                                                        var order = orderContext as OrderVM;

                                                        @($"{order.OrderDate?.ToString("dd.MM.yyyy")} г.")
                                                    }
                                                </Template>
                                            </GridColumn>
                                            <GridColumn Field="OrderType" HeaderText="Вид" TextAlign="TextAlign.Left" Width="60"></GridColumn>
                                            <GridColumn Width="10">
                                                <Template Context="orderContext">
                                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори файл със заповедта" OpensOn="Hover">
                                                        <button type="button" class="btn-row" @onclick="(() => OnDownloadClick(orderContext as OrderVM))"><i class="fa fa-file-o"></i></button>
                                                    </SfTooltip>
                                                </Template>
                                            </GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <p><button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="OpenNkpdSelectorModal">Добави НКПД</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <SfGrid ID="defaultGrid1" EnablePersistence="true" AllowTextWrap="true" DataSource="nKPDVMList" AllowSorting="false" AllowFiltering="false" @ref="sfGrid">
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" CheckboxOnly="true"></GridSelectionSettings>
                                        <GridTemplates>
                                            <EmptyRecordTemplate Context="emptyRecord">
                                                <span>Няма намерени резултати.</span>
                                            </EmptyRecordTemplate>
                                        </GridTemplates>
                                        <GridColumns>
                                            <GridColumn Width="5%">
                                                <Template Context="nkpdContext">
                                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                                        <button class="btn-row" type="button" @onclick="(() => DeleteRowNkpd((nkpdContext as NKPDVM).IdNKPD))"><i class="fa fa-trash-o"></i></button>
                                                    </SfTooltip>
                                                </Template>
                                            </GridColumn>
                                            <GridColumn Field="Code" HeaderText="Код" TextAlign="TextAlign.Left" Width="10%"></GridColumn>
                                            <GridColumn Field="Name" HeaderText="Наименование" TextAlign="TextAlign.Left" Width="85%"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </div>
                            </div>

                            <div class="row mb-3">
                                &nbsp;
                            </div>



                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="new-task">
                                        <div class="to-do-list">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label class="form-label">
                                                    <input type="checkbox" @bind-value="specialityVM.IsStateProtectedSpecialties" checked="@(specialityVM.IsStateProtectedSpecialties ? "checked" : null)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span> <span>Включване в „Списък със защитените от държавата специалности от професии“</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label class="form-label">
                                                    <input type="checkbox" @bind-value="specialityVM.IsShortageSpecialistsLaborMarket" checked="@(specialityVM.IsShortageSpecialistsLaborMarket ? "checked" : null)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span> <span>Включване в „Списък със специалности от професии, по които е налице очакван недостиг от специалисти на пазара на труда“</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label class="form-label">
                                                    <input type="checkbox" @bind-value="specialityVM.IsTrainingStudents" checked="@(specialityVM.IsTrainingStudents ? "checked" : null)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span> <span>Допустимост  за обучение на ученици</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label class="form-label">
                                                    <input type="checkbox" @bind-value="specialityVM.IsAdultEducation" checked="@(specialityVM.IsAdultEducation ? "checked" : null)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span> <span>Допустимост  за обучение на възрастни</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label class="form-label">
                                                    <input type="checkbox" @bind-value="specialityVM.IsTrainingPartProfession" checked="@(specialityVM.IsTrainingPartProfession ? "checked" : null)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span> <span>Допустимост  за обучение по част от професия</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="to-do-list">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label class="form-label">
                                                    <input type="checkbox" @bind-value="specialityVM.IsDistanceLearning" checked="@(specialityVM.IsDistanceLearning ? "checked" : null)">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span> <span>Допустимост  за дистанционно обучение</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-newspaper-o" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на създаване: @this.CreationDateStr</div>

                        <div class="col text-left"><i class="fa fa-save" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на последна актуализация: @this.ModifyDateStr</div>
                    </div>
                    <div class="row">
                        <div class="col text-left"><i class="fa fa-user" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Създадено от: @specialityVM.CreatePersonName</div>

                        <div class="col text-left"><i class="fa fa-user-plus" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Актуализирано от: @specialityVM.ModifyPersonName</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="text-right">
                            @if (this.specialityVM.IdSpeciality != 0)
                            {
                                <button class="btn btn-warning btn-outline-warning waves-effect md-trigger" style="margin-right: 30px;" @onclick="SendNotificationAsync">Изпрати известие</button>
                            }
                            <button class="btn btn-info" type="submit" form="submitFormSpeciality">Запиши</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>

<ToastMsg @ref="toast"></ToastMsg>

<NkpdSelectorModal @ref="nkpdSelectorModal" OnSelect="NKPDOnSelectHandler"></NkpdSelectorModal>

<EditDOC @ref="editDOCModal"></EditDOC>
