@inherits BlazorBaseComponent

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <p></p>
            <div class="card">
                <div class="card-header">
                    <nav>
                        <div class="row">
                            <div class="col-sm-3">
                                <nav class="navbar navbar-expand" style="padding-top:0">
                                    <ul class="navbar-nav">
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-sm-2">
                                <nav class="navbar navbar-expand" style="justify-content: flex-end;padding-top:0;">
                                    <ul class="navbar-nav">
                                        <li class="nav-item d-none d-sm-inline-block">
                                            <SfTooltip Position="TooltipPosition.BottomCenter" Content="Справка за консултанти" OpensOn="Hover">
                                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="ExportPDF">Справка</button>
                                            </SfTooltip>
                                        </li>
                                        <label>&nbsp</label>
                                        <li class="nav-item d-none d-sm-inline-block">
                                            <SfTooltip Position="TooltipPosition.BottomCenter" Content="Търсене в списъка с консултантите по зададени критерии" OpensOn="Hover">
                                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="FilterSelect">Филтър</button>
                                            </SfTooltip>
                                        </li>
                                        <label>&nbsp</label>

                                    </ul>
                                </nav>
                            </div>
                            <div class="col-sm-7">
                                <nav class="navbar navbar-expand" style="padding-top:0;">
                                    <ul class="navbar-nav">
                                        @if (!this.DisableFieldsWhenUserIsExternalExpertOrCommittee)
                                        {
                                            <li class="nav-item d-none d-sm-inline-block float-none">
                                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddNewTrainerClickHandler" disabled="@(this.DisableAllFields)">Нов консултант</button>
                                            </li>
                                        }

                                        @if (this.trainersSource.Count > 1 && this.candidateProviderTrainerVM is not null && this.candidateProviderTrainerVM.IdCandidateProviderTrainer != 0)
                                        {
                                            <li class="nav-item d-none d-sm-inline-block" style="@(!this.DisableFieldsWhenUserIsExternalExpertOrCommittee ? "margin-left: 40px; !important" : string.Empty)">
                                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="PreviousTrainerBtn" disabled="@(this.disablePreviousBtn)"><i class="fa fa-arrow-circle-left" style="margin-right: 3px !important;"></i>Предишен консултант</button>
                                            </li>
                                            <label>&nbsp</label>
                                            <li class="nav-item d-none d-sm-inline-block">
                                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="NextTrainerBtn" disabled="@(this.disableNextBtn)"><i class="fa fa-arrow-circle-right" style="margin-right: 3px !important;"></i>Следващ консултант</button>
                                            </li>
                                            <label>&nbsp</label>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="card-body">
                    <div class="row mainBGColor">
                        <div class="col-sm-5">
                            <SfGrid ID="sfGrid" DataSource="candidateProviderTrainersListForGrid"
                                    AllowPaging="true" EnableAltRow="true" EnableHover="false" AllowFiltering="true"
                                    AllowTextWrap="true" @ref="trainersGrid" AllowSelection="true" Height="100%" SelectedRowIndex="selectedRowIdx">
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                <GridTemplates>
                                    <EmptyRecordTemplate Context="emptyRecord">
                                        <span>Няма намерени резултати.</span>
                                    </EmptyRecordTemplate>
                                </GridTemplates>
                                <GridColumns>
                                    <GridColumn Field="IdCandidateProviderTrainer" IsPrimaryKey="true" Visible="false"></GridColumn>
                                    <GridColumn CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" TextAlign="TextAlign.Left" Width="10" HeaderText=" ">
                                        <Template>
                                            @GetRowNumber(trainersGrid, (context as CandidateProviderTrainerVM).IdCandidateProviderTrainer).Result
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field="FirstName" HeaderText="Име" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                    <GridColumn Field="SecondName" HeaderText="Презиме" TextAlign="TextAlign.Left" Width="45"></GridColumn>
                                    <GridColumn Field="FamilyName" HeaderText="Фамилия" TextAlign="TextAlign.Left" Width="45"></GridColumn>
                                    <GridColumn Field="StatusName" HeaderText="Статус" TextAlign="TextAlign.Left" Width="35" />
                                    <GridColumn TextAlign="TextAlign.Left" Width="25">
                                        <Template>
                                            @{
                                                var trainer = context as CandidateProviderTrainerVM;
                                                string temp = "консултант";
                                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="История на промените" OpensOn="Hover">
                                                    <button type="button" class="btn-row" @onclick="(async () => await this.trainerStatusModal.OpenModal(trainer, temp))"><i class="fa fa-history" style="font-size: 18px"></i></button>
                                                </SfTooltip>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                                <GridEvents TValue="CandidateProviderTrainerVM" RowSelected="TrainerSelectedHandler" QueryCellInfo="QueryCellInfo"
                                            OnRecordClick="TrainerRecordClickHandler" RowSelecting="TrainerSelectingHandler" />
                            </SfGrid>
                        </div>
                        <div class="col-sm-7">
                            <SfAccordion ExpandMode="ExpandMode.Single">
                                <AccordionItems>
                                    <AccordionItem Expanded="true">
                                        <HeaderTemplate>
                                            Данни за консултант <span style="color: #01a9ac !important;">@this.trainerNameInformation</span>
                                        </HeaderTemplate>
                                        <ContentTemplate>
                                            <fieldset disabled="@(this.DisableAllFields || this.DisableFieldsWhenUserIsExternalExpertOrCommittee)">
                                                <EditForm EditContext="editContextGeneralData">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-group required">
                                                                <label class="control-label">
                                                                    Име:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.FirstName" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Презиме:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.SecondName" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <!-- text input -->
                                                            <div class="form-group required">
                                                                <label class="control-label">
                                                                    Фамилия:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.FamilyName" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <!-- text input -->
                                                            <SfTooltip Position="TooltipPosition.BottomCenter" Content="Номер на диплома за средно образование" OpensOn="Hover">
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        Диплома №:
                                                                    </label>
                                                                    <div>
                                                                        <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.DiplomaNumber" />
                                                                    </div>
                                                                </div>
                                                            </SfTooltip>
                                                        </div>
                                                        @if (!string.IsNullOrEmpty(candidateProviderTrainerVM.Indent) && candidateProviderTrainerVM.IdIndentType.HasValue && !string.IsNullOrEmpty(candidateProviderTrainerVM.DiplomaNumber))
                                                        {
                                                            <div class="col-sm-1">
                                                                <!-- text input -->
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                    </label>
                                                                    <SfTooltip Position="TooltipPosition.BottomCenter" Content="Проверка на диплома за средно образование" OpensOn="Hover">
                                                                        <button type="button" class="btn-row" @onclick="OpenRegiXDiplomaCheckModalAsync"><i class="fa fa-search-plus"></i></button>
                                                                    </SfTooltip>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Идентификатор:
                                                                </label>
                                                                <SfComboBox Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerVM.IdIndentType" DataSource="kvIndentTypeSource" AllowFiltering="true" AllowCustom="false">
                                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                                    <ComboBoxEvents TItem="KeyValueVM" TValue="int?" ValueChange="IdentValueChangedHandler" />
                                                                </SfComboBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <!-- text input -->
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    @this.identType:
                                                                </label>
                                                                <SfTextBox @bind-Value="this.candidateProviderTrainerVM.Indent" OnChange="IndentChanged" Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Гражданство:
                                                                </label>
                                                                <SfComboBox Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerVM.IdNationality" DataSource="kvNationalitySource" AllowFiltering="true" AllowCustom="false">
                                                                    <ComboBoxTemplates TItem="KeyValueVM">
                                                                        <ItemTemplate Context="kvCtx">
                                                                            @{
                                                                                var kv = kvCtx as KeyValueVM;
                                                                                if (kv.Name == "България")
                                                                                {
                                                                                    <div style="border-bottom: 1px solid gray; margin-bottom: 10px;">
                                                                                        <span>@kv.Name</span>
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    @kv.Name
                                                                                }
                                                                            }
                                                                        </ItemTemplate>
                                                                    </ComboBoxTemplates>
                                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                                </SfComboBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <!-- text input -->
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Дата на раждане:
                                                                </label>
                                                                <div>
                                                                    <SfDatePicker Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" CssClass="form-control" TValue="DateTime?" @bind-Value="candidateProviderTrainerVM.BirthDate" Format="dd.MM.yyyy" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Пол:
                                                                </label>
                                                                <SfComboBox Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerVM.IdSex" DataSource="kvSexSource" AllowFiltering="true" AllowCustom="false">
                                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                                </SfComboBox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Образователно-квалификационна степен:
                                                                </label>
                                                                <SfComboBox Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerVM.IdEducation" DataSource="kvEducationSource" AllowFiltering="true" AllowCustom="false">
                                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                                </SfComboBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Специалност по диплома:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.EducationSpecialityNotes" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (this.candidateProviderTrainerVM.IdEducation == this.kvMiddleEducation.IdKeyValue)
                                                    {
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        Свидетелство за професионална квалификация:
                                                                    </label>
                                                                    <SfTextBox @bind-Value="candidateProviderTrainerVM.ProfessionalQualificationCertificate" Enabled="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Свидетелство за правоспособност:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.EducationCertificateNotes" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Специална научна подготовка:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.EducationAcademicNotes" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Вид на договора:
                                                                </label>
                                                                <SfComboBox Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerVM.IdContractType" DataSource="kvContractTypeSource" AllowFiltering="true" AllowCustom="false">
                                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                                </SfComboBox>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <!-- text input -->
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Дата на договора:
                                                                </label>
                                                                <div>
                                                                    <SfDatePicker Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" CssClass="form-control" TValue="DateTime?" @bind-Value="candidateProviderTrainerVM.ContractDate" Format="dd.MM.yyyy" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group required">
                                                                <label class="control-label">
                                                                    Статус:
                                                                </label>
                                                                <SfComboBox Enabled="!this.DisableAllFields && !this.DisableFieldsWhenUserIsExternalExpertOrCommittee" TValue="int?" TItem="KeyValueVM" PopupHeight="230px" CssClass="form-control customPad" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains" @bind-Value="candidateProviderTrainerVM.IdStatus" DataSource="kvCandidateProviderTrainerStatusSource" AllowFiltering="true" AllowCustom="false">
                                                                    <ComboBoxFieldSettings Text="Name" Value="IdKeyValue" />
                                                                </SfComboBox>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    E-mail адрес:
                                                                </label>
                                                                <InputText class="form-control" @bind-Value="candidateProviderTrainerVM.Email" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </EditForm>
                                            </fieldset>
                                        </ContentTemplate>
                                    </AccordionItem>
                                    <AccordionItem Header="Документи">
                                        <ContentTemplate>
                                            <div class="content-wrapper">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <nav class="navbar navbar-expand">
                                                            <!-- Left navbar links -->
                                                            <ul class="navbar-nav float">
                                                                @if (!this.DisableFieldsWhenUserIsExternalExpertOrCommittee)
                                                                {
                                                                    <li class="nav-item d-none d-sm-inline-block float-none">
                                                                        <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddNewDocumentClickHandler" disabled="@(this.DisableAllFields)">Добави документ</button>
                                                                    </li>
                                                                    <li class="nav-item d-none d-sm-inline-block">
                                                                        &nbsp;
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <SfGrid ID="trainerDocumentsGrid" DataSource="trainerDocumentsSource" AllowSorting="true" AllowFiltering=true EnableAltRow="true" EnableHover="false"
                                                                        AllowTextWrap="true" @ref="trainerDocumentsGrid" AllowSelection="false">
                                                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                                                    <GridColumns>
                                                                        <GridColumn Width="5%" Visible="!this.DisableFieldsWhenUserIsExternalExpertOrCommittee">
                                                                            <Template>
                                                                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                                                                    <button type="button" class="btn-row" @onclick="(() => DeleteDocument(context as CandidateProviderTrainerDocumentVM))">
                                                                                        <i class="fa fa-trash-o"></i>
                                                                                    </button>
                                                                                </SfTooltip>
                                                                            </Template>
                                                                        </GridColumn>
                                                                        <GridColumn Field="DocumentTypeName" HeaderText="Вид на документа" TextAlign="TextAlign.Left" Width="19%"></GridColumn>
                                                                        <GridColumn Field="DocumentTitle" HeaderText="Описание на документа" TextAlign="TextAlign.Left" Width="19%"></GridColumn>
                                                                        <GridColumn Field="UploadedFileName" HeaderText="Прикачен файл" TextAlign="TextAlign.Left" Width="19%">
                                                                            <Template Context="docContext">
                                                                                @{
                                                                                    var entry = (docContext as CandidateProviderTrainerDocumentVM);

                                                                                    if (!string.IsNullOrEmpty(entry.UploadedFileName))
                                                                                    {
                                                                                        var files = entry.FileName.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries).ToArray();
                                                                                        foreach (var item in files)
                                                                                        {
                                                                                            <a href="#" @onclick="(() => OnDownloadClick(item, entry))">@item</a>
                                                                                            <br />
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @entry.FileName
                                                                                    }
                                                                                }
                                                                            </Template>
                                                                        </GridColumn>
                                                                        <GridColumn Field="CreationDate" HeaderText="Дата на прикачване" TextAlign="TextAlign.Left" Width="19%" Format="dd.MM.yyyy">
                                                                            <Template>
                                                                                @{
                                                                                    var ctx = context as CandidateProviderTrainerDocumentVM;
                                                                                    var date = ctx.CreationDate != null ? $"{ctx.CreationDate.ToString("dd.MM.yyyy")} г." : string.Empty;
                                                                                    @date
                                                                                }
                                                                            </Template>
                                                                        </GridColumn>
                                                                        <GridColumn Field="UploadedByName" HeaderText="Прикачено от" TextAlign="TextAlign.Left" Width="19%"></GridColumn>
                                                                    </GridColumns>
                                                                </SfGrid>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ContentTemplate>
                                    </AccordionItem>
                                </AccordionItems>
                            </SfAccordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .color-elements {
        color: red !important;
    }
</style>

<CIPOCandidateProviderTrainerDocumentModal @ref="candidateProviderTrainerDocumentModal" CallbackAfterModalSubmit="OnDocumentModalSubmit" />
<CandidateProviderTrainerCheckingModal @ref="candidateProviderTrainerCheckingModal" CallbackAfterModalSubmit="OnCheckingModalSubmit" />
<TrainerStatusModal @ref="trainerStatusModal" />
<RegiXDiplomaCheckModal @ref="diplomaCheckModal" />
<CIPOCandidateProviderTrainerSearchModal @ref="searchModal" CallBackRefreshGrid="FilterApply" />
<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>

