@using ISNAPOO.Core.ViewModels.CPO.ProviderData
@inherits BlazorBaseComponent

<div class="modal-body">

    <nav class="navbar navbar-expand">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav">

                            
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication9ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application9">Приложение 9</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication10ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application10">Приложение 10</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication11ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application11">Приложение 11</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication13ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application13">Приложение 13</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication14ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application14">Приложение 14</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication15ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application15">Приложение 15</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                        </ul>
                    </nav>

                    <nav class="navbar navbar-expand">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav">

                            
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication16ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application16">Приложение 16</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication17ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application17">Приложение 17</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication18ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application18">Приложение 18</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication19ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application19">Приложение 19</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication20ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application20">Приложение 20</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="@this.kvDocTypeApplication21ToolTip" OpensOn="Hover">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="Application21">Приложение 21</button>
                                </SfTooltip>
                            </li>
                            <li class="nav-item d-none d-sm-inline-block">
                                &nbsp;
                                </li>
                        </ul>
                    </nav>

</div>

<ToastMsg @ref="toast"></ToastMsg>