@inherits BlazorBaseComponent

<SfDialog @ref="cpoDocumentDestructionModal" @bind-Visible="isVisible" Width="80%" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="2000" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Отчет на документите с фабрична номерация</Header>
        <Content>
            <EditForm EditContext="editContext" id="saveForm">
                <fieldset disabled="@(this.isInRoleNAPOOExpert)">
                    <div id="validation-errors">
                        @if (this.validationMessages.Any())
                        {
                            <ul class="validation-errors">
                                @foreach (var msg in this.validationMessages)
                                {
                                    <li class="validation-message">@msg</li>
                                }
                            </ul>
                        }
                    </div>
                    <div class="card">
                        <div class="card-block" style="">
                            <p>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group required">
                                            <label class="control-label">Година: </label>
                                            <InputNumber class="form-control" @bind-Value="this.requestReportVM.Year" disabled="@(this.requestReportVM.IdRequestReport != 0)"></InputNumber>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group required">
                                            <label class="control-label">Дата на отчета: </label>
                                            <SfDatePicker TValue="DateTime?" @bind-Value="this.requestReportVM.DestructionDate" Format="dd.MM.yyyy" Enabled="@(this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Created").IdKeyValue || this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Returned").IdKeyValue)" />
                                        </div>
                                    </div>
                                </div>
                                @if (this.requestReportVM.IdRequestReport != 0)
                                {
                                    <SfAccordion ExpandMode="ExpandMode.Multiple">
                                        <AccordionItems>
                                            <AccordionItem Header="Унищожаване на документи с фабрична номерация">
                                                <ContentTemplate>
                                                    @if (this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Created").IdKeyValue)
                                                    {
                                                        @if (!this.isInRoleNAPOOExpert)
                                                        {
                                                            <div class="row">
                                                                <div class="col-sm-3">
                                                                    <div class="form-group">
                                                                        <p>
                                                                            <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddDocumentSerialNumbersBtn">Добави фабрични номера</button>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row mb-3">
                                                                &nbsp;
                                                            </div>
                                                        }
                                                    }
                                                    <div class="row">
                                                        <div class="col-sm-11">
                                                            <SfGrid DataSource="addedFabricNumbersSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                                                                AllowTextWrap="true" @ref="addedFabricNumbersGrid" AllowSelection="true" AllowPaging="true">
                                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                                                <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                                                                <GridColumns>
                                                                    <GridColumn Width="20">
                                                                        <Template Context="docSerialNumberCtx">
                                                                            @if (this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Created").IdKeyValue || this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Returned").IdKeyValue)
                                                                            {
                                                                                <SfTooltip Position="TooltipPosition.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                                                                    <button type="button" class="btn-row" @onclick="(() => DeleteDocumentSerialNumber(docSerialNumberCtx as DocumentSerialNumberVM))"><i class="fa fa-trash-o"></i></button>
                                                                                </SfTooltip>
                                                                            }
                                                                        </Template>
                                                                    </GridColumn>
                                                                    <GridColumn Field="TypeOfRequestedDocument.NumberWithName" HeaderText="Вид на документа" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                                                                    <GridColumn Field="ReceiveDocumentYear" HeaderText="Година" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="DocumentSeriesName" HeaderText="Серия" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="SerialNumber" HeaderText="Фабричен номер" TextAlign="TextAlign.Left" Width="70"></GridColumn>
                                                                    <GridColumn Field="DocumentOperationName" HeaderText="Операция" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                                                                    <GridColumn Field="DocumentDate" HeaderText="Дата на анулиране" TextAlign="TextAlign.Left" Width="50" Format="dd.MM.yyyy">
                                                                        <Template Context="docContext">
                                                                            @{
                                                                                var ctx = docContext as DocumentSerialNumberVM;

                                                                                if (ctx.DocumentOperationName == "Анулиран")
                                                                                {
                                                                                    @ctx.DocumentDate.ToString("dd.MM.yyyy")
                                                                                    ;
                                                                                }
                                                                                else
                                                                                {
                                                                                    @string.Empty
                                                                                    ;
                                                                                }
                                                                            }
                                                                        </Template>
                                                                    </GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </div>
                                                    </div>
                                                </ContentTemplate>
                                            </AccordionItem>
                                            <AccordionItem Header="Предадени документи с фабрична номерация">
                                                <ContentTemplate>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <SfGrid DataSource="handedOverDocumentsSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                                                                AllowTextWrap="true" @ref="handedOverDocumentsGrid" AllowSelection="true" AllowPaging="true">
                                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                                                <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                                                                <GridColumns>
                                                                    <GridColumn Field="TypeOfRequestedDocument.NumberWithName" HeaderText="Вид на документа" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                                                                    <GridColumn Field="ReceiveDocumentYear" HeaderText="Година" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="DocumentSeriesName" HeaderText="Серия" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="SerialNumber" HeaderText="Фабричен номер" TextAlign="TextAlign.Left" Width="70"></GridColumn>
                                                                    <GridColumn Field="DocumentOperationName" HeaderText="Операция" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </div>
                                                    </div>
                                                </ContentTemplate>
                                            </AccordionItem>
                                            <AccordionItem Header="Издадени документи с фабрична номерация">
                                                <ContentTemplate>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <SfGrid DataSource="printedDocumentsSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                                                                AllowTextWrap="true" @ref="printedDocumentsGrid" AllowSelection="true" AllowPaging="true">
                                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                                                <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                                                                <GridColumns>
                                                                    <GridColumn Field="TypeOfRequestedDocument.NumberWithName" HeaderText="Вид на документа" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                                                                    <GridColumn Field="ReceiveDocumentYear" HeaderText="Година" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="DocumentSeriesName" HeaderText="Серия" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="SerialNumber" HeaderText="Фабричен номер" TextAlign="TextAlign.Left" Width="70"></GridColumn>
                                                                    <GridColumn Field="DocumentOperationName" HeaderText="Операция" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </div>
                                                    </div>
                                                </ContentTemplate>
                                            </AccordionItem>
                                            <AccordionItem Header="Налични документи с фабрична номерация">
                                                <ContentTemplate>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <SfGrid DataSource="availableDocumentsSource" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false"
                                                                AllowTextWrap="true" @ref="availableDocumentsGrid" AllowSelection="true" AllowPaging="true">
                                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                                                <GridPageSettings PageCount="5" PageSize=20 PageSizes="true"></GridPageSettings>
                                                                <GridColumns>
                                                                    <GridColumn Field="TypeOfRequestedDocument.NumberWithName" HeaderText="Вид на документа" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                                                                    <GridColumn Field="ReceiveDocumentYear" HeaderText="Година" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="DocumentSeriesName" HeaderText="Серия" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                                                                    <GridColumn Field="SerialNumber" HeaderText="Фабричен номер" TextAlign="TextAlign.Left" Width="70"></GridColumn>
                                                                    <GridColumn Field="DocumentOperationName" HeaderText="Операция" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </div>
                                                    </div>
                                                </ContentTemplate>
                                            </AccordionItem>
                                        </AccordionItems>
                                    </SfAccordion>
                                }
                                @if (this.requestReportVM.IdRequestReport != 0)
                                {
                                    @if (!this.isInRoleNAPOOExpert)
                                    {
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <p>
                                                        <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddNewDocumentBtn">Добави документ</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">
                                        <div class="col-sm-11">
                                            <SfGrid DataSource="reportUploadedDocSource" AllowSorting="true" AllowFiltering=true EnableAltRow="true" EnableHover="false"
                                                AllowTextWrap="true" @ref="reportUploadedDocGrid" AllowSelection="false">
                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                                <GridColumns>
                                                    @if (!this.isInRoleNAPOOExpert)
                                                    {
                                                        <GridColumn Width="40">
                                                            <Template Context="reportUploadedDoc">
                                                                <button type="button" class="btn-row" @onclick="(() => DeleteDocument(reportUploadedDoc as ReportUploadedDocVM))">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </button>
                                                            </Template>
                                                        </GridColumn>
                                                    }
                                                    <GridColumn Field="TypeReportUploadedDocumentName" HeaderText="Вид на документа" TextAlign="TextAlign.Left" Width="50%"></GridColumn>
                                                    <GridColumn Field="Description" HeaderText="Описание на документа" TextAlign="TextAlign.Left" Width="50%"></GridColumn>
                                                    <GridColumn Field="UploadedFileName" HeaderText="Прикачен файл" TextAlign="TextAlign.Left" Width="50%">
                                                        <Template Context="reportUploadedDoc">
                                                            @{
                                                                var entry = (reportUploadedDoc as ReportUploadedDocVM);

                                                                if (!string.IsNullOrEmpty(entry.UploadedFileName))
                                                                {
                                                                    <a href="#" @onclick="(() => OnDownloadClick(entry.FileName))">@entry.FileName</a>
                                                                }
                                                                else
                                                                {
                                                                    @entry.FileName
                                                                }
                                                            }
                                                        </Template>
                                                    </GridColumn>
                                                    <GridColumn Field="CreationDate" HeaderText="Дата на прикачване" TextAlign="TextAlign.Left" Width="50%" Format="dd.MM.yyyy"></GridColumn>
                                                    <GridColumn Field="UploadedByName" HeaderText="Прикачено от" TextAlign="TextAlign.Left" Width="50%"></GridColumn>
                                                </GridColumns>
                                            </SfGrid>
                                        </div>
                                    </div>
                                }
                            </p>
                        </div>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="row">
                <div class="col-sm-7">
                    @if (this.requestReportVM.IdRequestReport != 0)
                    {
                        <div class="row">
                            <div class="col text-left"><i class="fa fa-newspaper-o" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на създаване: @this.requestReportVM.CreationDate.ToString("dd.MM.yyyy")г.</div>
                            <div class="col text-left"><i class="fa fa-save" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Дата на последна актуализация: @this.requestReportVM.ModifyDate.ToString("dd.MM.yyyy")г.</div>
                        </div>
                        <div class="row">
                            <div class="col text-left"><i class="fa fa-user" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Създадено от: @this.requestReportVM.CreatePersonName</div>
                            <div class="col text-left"><i class="fa fa-user-plus" style="font-size: 18px;color: #01A9AC !important;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Актуализирано от: @this.requestReportVM.ModifyPersonName</div>
                        </div>
                    }
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="text-right">
                            @if (this.requestReportVM.IdStatus == this.kvReportStatusReturnedValue.IdKeyValue || this.requestReportVM.IdStatus == this.kvReportStatusSubmittedValue.IdKeyValue)
                            {
                                <button class="btn btn-info" type="button" @onclick="PrintReport">Печат отчет</button>
                                <button class="btn btn-info" style="margin-right: 30px;" type="button" @onclick="PrintProtocol">Печат протокол</button>
                            }
                            @if (!this.isInRoleNAPOOExpert)
                            {
                                <button class="btn btn-info" type="button" @onclick="FileInForDestruction" disabled="@(this.requestReportVM.IdRequestReport == 0  || this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Approved").IdKeyValue || this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Submitted").IdKeyValue)">Подай</button>
                                <button class="btn btn-info" style="margin-right: 5px;" type="submit" form="saveForm" @onclick="(async () => await this.SaveBtn(true))" disabled="@(this.requestReportVM.IdStatus != this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Created").IdKeyValue || this.requestReportVM.IdStatus == this.kvRequestReportStatusSource.FirstOrDefault(x => x.KeyValueIntCode == "Returned").IdKeyValue)">Запиши</button>
                            }
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @onclick="CancelClickedHandler">Отказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<ConfirmDialog CallbackCancel="ConfirmDialogCallback" @ref="ConfirmDialog"></ConfirmDialog>
<ToastMsg @ref="toast"></ToastMsg>
<CPODocumentDestructionAddSerialNumbersModal @ref="cpoDocumentDestructionAddSerialNumbersModal" CallbackAfterModalSubmit="UpdateAfterModalSubmit" />
<CPODocumentDestructionDocumentModal @ref="cpoDocumentDestructionDocumentModal" CallbackAfterModalSubmit="OnDocumentModalSubmit" />