
@using ISNAPOO.WebSystem.Pages.Control;

@inherits BlazorBaseComponent

<SfDialog @bind-Visible="isVisible" Width="60%" EnableResize="true" AllowDragging="true" IsModal="true" ZIndex="1900" CloseOnEscape="false" ShowCloseIcon="true">
    <DialogAnimationSettings Effect="AnimationEffect" Duration="500" />
    <DialogEvents OnClose="OnXClickHandler" />
    <DialogTemplates>
        <Header>Материално-техническа база:  <span style="font-size: 18px;color: white !important;">@this.PremisesName</span></Header>
        <Content>
            <div class="card">
                <div class="card-block" style="">
                    <p>
                        <div class="row">
                            <div class="col-sm-12">
                                <SfGrid DataSource="this.candidateProviderPremisesCheckingVMsource" TValue="CandidateProviderPremisesCheckingVM" AllowSorting="true" AllowFiltering="true" EnableAltRow="true" EnableHover="false" AllowExcelExport="true" AllowPdfExport="true"
                                        AllowTextWrap="true" @ref="this.sfGrid" AllowPaging="true">
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                                    <GridColumns>
                                        <GridColumn Field="IdCandidateProviderPremisesChecking" IsPrimaryKey="true" Visible="false" ></GridColumn>
                                        <GridColumn HeaderText=" " AllowFiltering="false" AllowSorting="false" TextAlign="TextAlign.Left" CustomAttributes="@(new Dictionary<string, object>(){ { "class", "e-removewrap" }})" Width="3%">
                                            <Template>
                                                @GetRowNumber(sfGrid, (context as CandidateProviderPremisesCheckingVM).IdCandidateProviderPremisesChecking).Result
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Width="4%">
                                            <Template>
                                                @{
                                                    var ctx = context as CandidateProviderPremisesCheckingVM;

                                                    @if(ctx.IdFollowUpControl.HasValue)
                                                    {
                                                        <SfTooltip Position="TooltipPosition.BottomCenter" Content="Отвори данни за последващ контрол" OpensOn="Hover">
                                                            <button @onclick="(() => OpenFollowUpControl(context as CandidateProviderPremisesCheckingVM))" class="btn-row"><i class="fa fa-flag-checkered"></i></button>
                                                        </SfTooltip>
                                                    }
                                                }
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Field="CheckingDate" HeaderText="Дата на проверка" TextAlign="TextAlign.Left" Width="15%" Type="ColumnType.Date" Format="dd.MM.yyyy" />
                                        <GridColumn Field="Comment" HeaderText="Коментар" TextAlign="TextAlign.Left" Width="15%" />
                                        <GridColumn Field="CreationDate" HeaderText="Дата на създаване" TextAlign="TextAlign.Left" Width="15%" Type="ColumnType.Date" Format="dd.MM.yyyy"/>
                                        <GridColumn Field="" HeaderText="Създадено от" TextAlign="TextAlign.Left" Width="15%" >
                                            <Template>
                                                @GetPersonName((context as CandidateProviderPremisesCheckingVM).IdCreateUser).Result
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

    <FollowUpControlReadonlyModal @ref="followUpControlModal" LicenseType="@this.LicensingType" IsEditable="false" ></FollowUpControlReadonlyModal>
